<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE web-app
     PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
     "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
 
 <web-app>
     <servlet>
         <servlet-name>AjaxController</servlet-name>
         <servlet-class>controllers.AjaxController</servlet-class>
     </servlet>
 
     <servlet-mapping>
         <servlet-name>AjaxController</servlet-name>
         <url-pattern>/ajax</url-pattern>
     </servlet-mapping>
     
     <welcome-file-list>
	 <welcome-file>html/login.html</welcome-file>
     </welcome-file-list>
 </web-app>